.price-List-Dashboard-Container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.Hero-Container-Pricelist{
    width: 100vw;
    display: flex;
    
}